<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudinaryAPIKey</key>
	<string>474858797229748</string>
	<key>CloudinaryAPISecret</key>
	<string>xQC09Jusc2RDXLJZnPsAy_tzNHM</string>
	<key>CloudinaryCloudName</key>
	<string>vllwannu</string>
</dict>
</plist>
